.container {
  position: absolute;
  top: calc(100% + var(--spacing-16));
  right: 0;
  left: 0;
  overflow-y: auto;
  overscroll-behavior: contain;
  scrollbar-width: thin;
  scrollbar-color: var(--color-filled-700) transparent;
  max-height: calc(var(--content-height) + (100dvh - var(--content-height)) / 2 - 2 * var(--spacing-32) - var(--size-48) - var(--spacing-16));
  padding: var(--spacing-16);
  border-radius: 8px;
  color: var(--color-filled-900);
  background-color: var(--color-tone-100);
  opacity: 0;
  transform: scale(1, 0);
  transform-origin: top;
  pointer-events: none;
  visibility: hidden;

  transition-duration: var(--transition-duration);
  transition-property: transform, opacity, visibility, background-color;

  
  @media screen and (width < 1024px) {
    max-height: calc(var(--content-height) + (100dvh - var(--content-height)) / 2 - 2 * var(--spacing-24) - var(--size-48) - var(--spacing-16));
  }
  
  @media screen and (width < 768px) {
    top: calc(100% + var(--spacing-12));
    padding: var(--spacing-12);
    max-height: calc(var(--content-height) + (100dvh - var(--content-height)) / 2 - 2 * var(--spacing-16) - var(--size-32) - var(--spacing-12));
  }

  &.visible {
    opacity: 1;
    transform: scale(1, 1);
    pointer-events: all;
    visibility: visible;

    transition-duration: var(--transition-duration);
    transition-property: transform, opacity, visibility, background-color;
  }
}

