*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  line-height: normal;
  color: var(--color-stable-100);
}

img {
  object-fit: cover;
}

img,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:disabled,
button:disabled {
  opacity: 0.7;
}

a {
  color: inherit;
}

.btn {
  padding: 0;
  border: none;
  color: var(--color-filled-900);
  background: none;
  cursor: pointer;
  user-select: none;

  transition: color var(--transition-duration);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.descr {
  margin: 0;
}

.title {
  margin: 0;
}

.section-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;

  @media screen and (width < 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card {
  height: 100%;
  padding: var(--spacing-16);
  border-radius: 8px;
  background: var(--color-tone-100);

  @media screen and (width < 768px) {
    padding: var(--spacing-12);
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border-width: 0 !important;
  white-space: nowrap !important;
}

.app {
  display: flex;
  width: 100%;
  min-width: 375px;
  height: 100dvh;
  padding: var(--spacing-32) var(--spacing-80);
  background-color: light-dark(var(--color-filled-700), var(--color-filled-300));
  background-image: var(--background-image);
  background-position: calc(-100vw + var(--background-position)) center, var(--background-position) center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: auto;

  @media screen and (aspect-ratio < 1) {
    background-size: 100dvh 100%;
    background-position: calc(-100dvh + var(--background-position)) center, var(--background-position) center;
  }

  /*
  анимация перехода для фона transition-duration: var(--transition-duration);
  устанавливается в компоненте Switch только на время переключения темы.
  */
  transition-duration: unset;
  transition-property: --background-position;

  @media screen and (width < 1280px) {
    padding: var(--spacing-32);
  }

  @media screen and (width < 1024px) {
    padding: var(--spacing-24);
  }

  @media screen and (width < 768px) {
    padding: var(--spacing-16);
  }

  .content {
    --content-height: 860px;
    --height: 860px;
    width: 100%;
    height: var(--height);
    min-height: var(--content-height);
    display: grid;
    grid-template: auto 1fr auto / 1fr;
    position: relative;
    max-width: 1120px;
    margin: auto;
    border-radius: var(--radius-8);
    background-color: light-dark(var(--color-tone-600), var(--color-tone-500));
    z-index: 1;
    user-select: none;

    transition-duration: var(--transition-duration);
    transition-property: background-color;

    @media screen and (height < 860px)  {
      --content-height: calc(100dvh - 2 * var(--spacing-32));
    }

    @media screen and (width < 1024px)  {
      --content-height: 1138px;
      --height: 1138px;

      @media screen and (height < 1138px)  {
        --content-height: calc(100dvh - 2 * var(--spacing-24));
      }
    }

    @media screen and (width < 886px)  {
      --content-height: 1210px;
      --height: 1210px;

      @media screen and (height < 1210px)  {
        --content-height: calc(100dvh - 2 * var(--spacing-24));
      }
    }

    @media screen and (width < 768px)  {
      --content-height: 780px;
      --height: 780px;

      @media screen and (height < 780px)  {
        --content-height: calc(100dvh - 2 * var(--spacing-16));
      }
    }

    @media screen and (width < 640px)  {
      --content-height: 838px;
      --height: 838px;

      @media screen and (height < 838px)  {
        --content-height: calc(100dvh - 2 * var(--spacing-16));
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: var(--radius-8);
      backdrop-filter: blur(25px);
      z-index: -1;
      transform-origin: bottom;
      scale: 1 1;

      transition-duration: var(--transition-duration);
      transition-property: scale;
    }

    &::before {
      height: calc(var(--content-height) + (100dvh - var(--content-height)) / 2);
      content: "";
      position: absolute;
      inset: 0;
      bottom: unset;
      border-radius: var(--radius-8);
      backdrop-filter: blur(25px);
      z-index: 1;
      transform-origin: top;
      scale: 1 0;
      

      transition-duration: var(--transition-duration);
      transition-property: scale;
    }

    &.panelOpened {
      &::after {
        scale: 1 0;
      }
    }
    
    &.panelOpened {
      &::before {
        scale: 1 1;
      }
    }
  }
}

