.list {
  display: grid;
  grid-template-columns: repeat(3, 158px);
  grid-auto-rows: minmax(196px, max-content);
  gap: 16px;

  @media screen and (width < 1024px) {
    grid-template-columns: repeat(3, minmax(0, 163px));
    justify-content: center;
    gap: 12px;
  }

  @media screen and (width < 768px) {
    grid-template-columns: repeat(3, minmax(0, 128px));
    grid-auto-rows: minmax(148px, max-content);
    gap: 8px;
  }
}
