.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-16);
  margin-bottom: var(--spacing-12);

  @media screen and (width < 768px) {
    gap: var(--spacing-12);
    margin-bottom: var(--spacing-8);
  }
  
  .title {
    font-size: 24px;
    line-height: 32px;
  
    @media screen and (width < 768px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.emptyMessage {
  font-size: 20px;
  line-height: 24px;
  color: var(--color-light-filled-700);

  @media screen and (width < 768px) {
    font-size: 14px;
    line-height: 16px;
  }
}